@using BlazorZXingJs

@inject IJSRuntime JsRunTime

<h3>QRReader</h3>

<MultiFormatReader
    VideoWidth="400"
    VideoHeight="400"
    OnBarcodeRead="BarcodeRead">

    <VideoForbidden>
        <h4>no permission for videodevice</h4>
    </VideoForbidden>

    <NoVideoDevices>
        <h4>no devices available</h4>
    </NoVideoDevices>
</MultiFormatReader>

<h4>Reading... @progress%</h4>
<p />
<pre>
@LocalBarcodeText
</pre>

@code {
    private string? LocalBarcodeText;
    private Object? frames;
    private double progress = 0;

    private async void BarcodeRead(string code)
    {
        Object[] res = await JsRunTime.InvokeAsync<Object[]>("MyLib.ParseFrames", new Object?[] { frames, code });

        if ("1".Equals(res[0].ToString()))
        {
            LocalBarcodeText = res[1].ToString();
        } 
        else
        {
            frames = res[1];
            progress = await JsRunTime.InvokeAsync<double>("MyLib.GetProgress", new Object?[] { frames });
            progress = Math.Floor(progress * 100);
        }
        StateHasChanged();
    }
}